@import "tailwindcss";

h2 {
  @apply text-3xl text-center text-black font-bold py-5
}

input {
  @apply border border-gray-300 text-black rounded-md px-3 py-2 w-full;
}

label {
  @apply text-black font-bold block
}

table, tr, th, td {
  @apply border-black border-1 p-1 text-black scroll-auto
}

button {
  @apply cursor-pointer rounded-lg
}

#app {
  @apply w-full m-auto p-2;
}

body {
  @apply m-0 flex items-start
}

.tooltip { 
  @apply invisible absolute bottom-full left-1/2 -translate-x-1/2 translate-y-12  px-2 py-1 text-sm text-white bg-gray-800 rounded whitespace-nowrap opacity-0 transition-opacity duration-200 pointer-events-none;
}

.group:hover .tooltip {
  @apply visible opacity-100;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
